﻿@model Dictionary<string, List<string>>
@{
    ViewBag.Title = "ChooseDateTime";
}

<h2>ChooseDateTime</h2>

<div>
    @using (Ajax.BeginForm("ChooseTime", "User", new AjaxOptions { HttpMethod="Get", UpdateTargetId = "list" }))
    {
        if (Model.Any() && Model != null)
        {
            <div>Choose date:</div>
            @Html.DropDownList("date",
                         new SelectList(Model.Keys.ToList()),
                         "",
                         new {
                             @class = "form-control",
                             onchange = "$(this.form).submit()" })
                {
                    var dictionary = new Dictionary<string, Dictionary<string, List<string>>>
                            {
                                { "dict", Model },
                            };
                }
                <input type="submit" asp-action="ChooseTime" asp-all-route-data="dictionary" value="Choose Time">
        }

    }
    <div id="list"></div>
</div>



@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

