﻿
@{
    ViewBag.Title = "View";
}

<h2>Login</h2>

@using (Html.BeginForm("GetToken", "User", FormMethod.Get))
{
    <label for="UserLogin">Login</label>
    <input class="form-control"
           id="loginTextBox"
           name="loginTextBox"
           type="text"
           value="" />
    <label for="UserPassworw">Password</label>
    <input class="form-control"
           id="passTextBox"
           name="passTextBox"
           type="password"
           value="" />
    <br>
    <input type="submit" value="Pay" class="form-control">
}

