﻿@model IEnumerable<Client.Models.Route>

@using (Html.BeginForm("ChooseDateTime", "User", FormMethod.Get))
{
    if (Model != null && Model.Any())
    {
        <div> Route from: </div>
        @Html.DropDownList("route_from",
                                                      new SelectList(Model.Select(r => r.route_from).Distinct().ToList()),
                                                      "",
                                                      new { @class = "form-control" })
        <div> Route to: </div>
        @Html.DropDownList("route_to",
                                                       new SelectList(Model.Select(r => r.route_to).Distinct().ToList()),
                                                       "",
                                                       new { @class = "form-control" })


    }

    if ((string)@ViewData["Error"] != "")
    {
        @ViewData["Error"]
    }
    <br />
    <input type="submit" value="Choose date and time" class="form-control">
}