﻿@model IEnumerable<Client.Models.Route>
@using System.Web.Optimization

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

@{
    <p>@ViewData["response"]</p>
}

<div>
    @using (Ajax.BeginForm("RouteList", "User", new AjaxOptions { UpdateTargetId = "list" }))
    {
        <input type="submit" value="Get possible Routes" />
    }

    <div id="list">

    </div>

</div>


@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
